body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  background-color: var(--color5);
  color: var(--color3);
}
:root {
  --color1: #4d5ae5;
  --color2: #2e2f42;
  --color3: #434455;
  --color4: #404bbf;
  --color5: #ffffff;
  --color6: #f4f4fd;
  --color7: #e7e9fc;
}
.container {
  width: 1158px;
  margin: 0 auto;
}
.section{
  padding: 120px 0;
}
/* ----------Header-------- */
.header{
  border-bottom: 1px solid var(--color7);
}
.header-container {
  display: flex;
  justify-content: space-between;
}
.nav-list {
  display: flex;
  align-items: center;
}
.logo-link {
  list-style: none;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color1);
}
.logo-link {
  margin-right: 76px;
}
.link {
  text-decoration: none;
}
.logo-span-header {
  color: var(--color2);
}
.list {
  list-style: none;
}
.header-list {
  display: flex;
  gap: 40px;
}
.header-list {
  list-style: none;
}
.header-title-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color2);
}
.header-title-item:hover {
  color: var(--color4);
}
.header-title-item:focus {
  color: var(--color4);
}
.contact-list-title {
  font-style: normal;
}
.contact-list {
  display: flex;
  gap: 40px;
}
.contact-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color3);
}
.contact-item-list :hover {
  color: var(--color4);
}
.contact-item-list :focus {
  color: var(--color4);
}
/* ----------Sector 1 index.html--------- */
.title {
  background: var(--color2);
}
.title {
  height: 600px;
}
.title-text {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color5);
}
.title-text {
  margin: 0 auto;
  max-width: 496px;
  padding-top: 188px;
}
.title-btn {
  width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color5);
  cursor: pointer;
  background-color: var(--color1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.title-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 48px;
}
.title-btn:hover {
  color: var(--color5);
  background-color: var(--color4);
}
.title-btn:focus {
  color: var(--color5);
  background-color: var(--color4);
}
/* ----------Sector 2 index.html--------- */
.plan-list-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 24px;
}
.plan-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color2);
}
.plan-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* ----------Sector 3 index.html--------- */
.servises-title-list {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color2);
}
.servises-title-list {
  padding-bottom: 72px;
  margin: 0 auto;
}
.servises-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 24px;
  padding: 0 0 120px 0;
}

/* ----------Sector 4 index.html--------- */
.team {
  background-color: var(--color6);
}
.team-list {
  background-color: var(--color5);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.team-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color2);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0 auto;
}
.team-heading {
  padding-bottom: 72px;
}
.team-list-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 24px;
  padding: 0 0 120px 0;
}
.team-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color2);
  margin: 32px 0 8px 0;
}
.team-text {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  margin: 8px 0 32px 0;
}
/* ----------Sector 1 portfolio.html--------- */
.filters-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding: 96px 0 72px 0;
  margin: 0 auto;
}
.filters-btn {
  cursor: pointer;
  background:  var(--color6);
  border: 1px solid  var(--color7);
  border-radius: 4px;
  flex: none;
  order: 3;
  flex-grow: 0;
  height: 48px;
  padding: 12px 24px;
}
.filters-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--color1);
}
.filters-btn:hover {
  color: var(--color5);
  background-color: var(--color4);
}
.filters-btn:focus {
  color: var(--color5);
  background-color: var(--color4);
}
.examples-list{
  border: 1px solid  var(--color7);
  gap: 24px;
  margin-bottom: 48px;
}
.examples-title-list{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
}
.examples-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color2);
  margin: 32px 0 8px 16px;
}
.examples-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color3);
  margin: 8px 0 32px 16px;
}
.examples-container{
  padding-bottom: 120px;
}
/* ---------Footer--------- */
.footer {
  background-color: var(--color2);
}
.footer {
  height: 310px;
}
.footer-container {
  padding: 100px 0;
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color7);
}
.footer-text {
  max-width: 264px;
}
.logo-span-footer {
  color: var(--color6);
}
